.container
  .row-fluid
    .well
      %h1 
        Write a message for
        = "#{@user.username}"
      %p.lead 
        Being concise will improve the odds of getting an answer
        %br
      = render 'form'
