.container
  .row-fluid
    .well.box-forms
      %h3
        Write the message for 
        = "#{@user.username}"
      %p.lead 
        Being concise will improve the odds of getting an answer
        %br
      = render 'form'
