/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require "bootstrap"
 *= require bootstrap-responsive-cb
 *= require_self
*/

/*Trehhold*/

.social-images .span4.well.no-padding { padding: 0; }
/* Large desktop */
@media (min-width: 1200px) { 

body { background-color: white; }

/*Perfil*/
.perfil .img-perfil { 
height: 170px;
}

.perfil .redes img{ 
width: 32px; 
margin: 0 auto; 
display: block;
float: left;
}

.row-fluid .no-margin-left { margin-left: 0; }

.bg.breadcrumb { margin: 0; }

.logo { font-size: 100px; }

.txt-one h1 {
font-size: 22px;
}

.txt-one h2 {
font-size: 14px;
}


}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

body { 
background-color: red; 
padding-top: 80px; 
}

.social-images .span4.well { width: 40%; margin-left: 0; }
.social-images .span4.well+.span4.well { margin-left: 18%; }
.social-images .span4.well+.span4.well+.span4.well { margin-left: 0; }
.social-images .span4.well+.span4.well+.span4.well+.span4.well { margin-left: 18%; }
.social-images .span4.well+.span4.well+.span4.well+.span4.well+.span4.well { margin-left: 0; }
.social-images .span4.well+.span4.well+.span4.well+.span4.well+.span4.well+.span4.well { margin-left: 18%; }

.bg.breadcrumb { margin: 0; }

.logo { font-size: 92px; }

.txt-one h1 {
font-size: 21px;
}

.txt-one h2 {
font-size: 14px;
}


}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 

body { background-color: green; }

/*Perfil*/
.perfil .img-perfil {
margin: 0 auto;
width: 183px;
height: 183px;
}
.nombre-perfil, .descripcion-personalizable { 
text-align: center;
}

.redes .span2 {
float: left;	
width: 16.6666667%;
}

.redes img {
margin: 0 auto;
display: block;
float: none;
}

.redes span {
display: none;
}

.social-images .row-fluid.full-width { width: 100%; }

.social-images .row-fluid { 
width: 100%; 
float: left;
}

.social-images .row-fluid .span4 {
width: 10%;
float: left;
}

.social-images .row-fluid .span4 + .span4  {
margin-left: 8%;
}

.bg.breadcrumb {
right: 0;
left: 0;
width: 100%;
position: absolute;
padding: 8px 0;
top: 42px;
}

.bg.breadcrumb ul.breadcrumb { padding-left:20px; }

.logo { font-size: 92px; }

.txt-one h1 {
font-size: 21px;
}

.txt-one h2 {
font-size: 14px;
}


}

/* Landscape phones and down */
@media (max-width: 480px) { 

body { background-color: yellow; }

/*Perfil*/
.redes .span2 {
width: 16.6666667%;
}
.redes img {
float: none;	
}

.social-images .row-fluid .span4 + .span4  {
margin-left: 5%;
}


}



/*Estilos generales*/

html, body { 
font-family: 'Oxygen', sans-serif;
font-weight: 300;
height: 100%;
color: #999;
font-size: 12px;
background-color: #f1f1f1;
background-image: image-url("purty_wood.png");
background-repeat: repeat;
}

body { padding-top: 80px; }

hr { margin: 10px 0; }

footer { text-align: center; }

/*input*/
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, .input-prepend > .add-on, .input-append > .add-on {
padding: 10px;
font-family: 'Oxygen', sans-serif;
font-weight: 300;
font-size: 12px;
}


input, button, select, textarea {
font-family: 'Oxygen', sans-serif;
font-weight: 300;
font-size: 12px;
}
.navbar-form input, .navbar-form select, .navbar-form .radio, .navbar-form .checkbox { margin-top: 0; }



/*menu-principal*/

.menu-principal { background-color: #fff; }
.menu-principal .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container{ padding: 0; }

/*perfil*/

.well {
background-color: #fff;

}

.perfil {
-webkit-border-radius: 4px 0 0 4px; /* Android ��� 1.6, iOS 1-3.2, Safari 3-4 */
       border-radius: 4px 0 0 4px; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
line-height: 32px;
}

.perfil .nombre-perfil { 
font-size: 16px;
border-bottom: 1px solid #eeeeee;
font-weight: 700;
color: #000;
}

.perfil .img-perfil img.img-rounded {
-webkit-border-radius: 50%;
border-radius: 50%;
border: 6px solid #f1f1f1;
}

.perfil .precio {
font-size: 16px;
font-weight: 700;
text-align: left;
padding-top: 10px;
padding-bottom: 10px;
}

.perfil .descripcion-personalizable {
padding-bottom: 10px;
padding-top: 10px;
font-size: 22px;
border-bottom: 1px solid #eeeeee;
}

.perfil .descripcion-personalizable span.comillas {
font-size: 26px;
font-weight: 700;
color: #000;
}

.box-perfil {
height: auto;
}

.box-perfil h2 {
margin: 0;
font-size: 16px;
padding: 0;
line-height: 20px;
}

.perfil .redes {
padding-top: 10px;
padding-bottom: 10px;
border-top: 1px solid #eeeeee;
height: 53px;
}

.perfil .redes span{ 
float: left;
padding-left: 10px;
}

.perfil .votacion {
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
}

.perfil .contacto {
text-align: left;
}

.perfil .rate {
margin: 0;
padding: 0;
}

.navbar-inner {
background-color: #0082c8;
background-image: -webkit-gradient(linear, left top, left bottom, from(#0082c8), to(#0082c8)); /* Chrome, Safari 4+ */
background-image: -webkit-linear-gradient(top, #0082c8, #0082c8); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
background-image:    -moz-linear-gradient(top, #0082c8, #0082c8); /* Firefox 3.6-15 */
background-image:      -o-linear-gradient(top, #0082c8, #0082c8); /* Opera 11.10-12.00 */
background-image:         linear-gradient(to bottom, #0082c8, #0082c8); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}



.navbar .brand {
display: block;
float: left;
padding: 10px 20px 10px;
margin-left: -20px;
font-size: 20px;
font-weight: 200;
color: #fff;
text-shadow: 0 1px 0 #999999;
}

.navbar .nav > li > a {
float: none;
padding: 10px 15px 10px;
color: #ffffff;
text-decoration: none;
text-shadow: 0 0 0 #000000;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
color: #ffffff;
text-decoration: none;
background-color: #0082c8;
border-bottom: 2px solid #fff;
}


.navbar-inner {
 background-color: #59b129;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#6dc732), to(#59b129)); /* Chrome, Safari 4+ */
 background-image: -webkit-linear-gradient(top, #6dc732, #59b129); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
 background-image:    -moz-linear-gradient(top, #6dc732, #59b129); /* Firefox 3.6-15 */
 background-image:      -o-linear-gradient(top, #6dc732, #59b129); /* Opera 11.10-12.00 */
 background-image:         linear-gradient(to bottom, #6dc732, #59b129); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
background-color: #59b129;
color: #fff;
border-bottom: 2px solid #fff;

}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
background-color: #59b129;
color: #fff;
border-bottom: 2px solid #fff;

}

.perfil .btn {
padding: 15px 0;
width: 100%;
-webkit-border-radius: 0;
border-radius: 0;
color: #fff;
text-shadow: 0 0 0 #fff;
font-size: 12px;
border-color: #59b129; 
}

.btn-site {
 background-color: #59b129;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#6dc732), to(#59b129)); /* Chrome, Safari 4+ */
 background-image: -webkit-linear-gradient(top, #6dc732, #59b129); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
 background-image:    -moz-linear-gradient(top, #6dc732, #59b129); /* Firefox 3.6-15 */
 background-image:      -o-linear-gradient(top, #6dc732, #59b129); /* Opera 11.10-12.00 */
 background-image:         linear-gradient(to bottom, #6dc732, #59b129); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}

.btn-site:hover, .btn-site:focus {
background-color: #59b129;
background-image: -webkit-gradient(linear, left top, left bottom, from(#59b129), to(#6dc732)); /* Chrome, Safari 4+ */
background-image: -webkit-linear-gradient(top, #59b129, #6dc732); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
background-image:    -moz-linear-gradient(top, #59b129, #6dc732); /* Firefox 3.6-15 */
background-image:      -o-linear-gradient(top, #59b129, #6dc732); /* Opera 11.10-12.00 */
background-image:         linear-gradient(to bottom, #59b129, #6dc732); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
background-position: 0;
-webkit-transition: background-position 0.1s linear;
-moz-transition: background-position 0.1s linear;
-o-transition: background-position 0.1s linear;
transition: background-position 0.1s linear;
}

.perfil.edit .nombre-perfil label { text-align: left; }
.perfil.edit .descripcion-personalizable label { text-align: left; }

.perfil.edit .precio label { text-align: left; }
.perfil.edit .precio textarea, .uneditable-input { float: left; }

.perfil.edit .contacto { padding-top: 10px; }
.perfil.edit .contacto label { text-align: left; }
.perfil.edit .contacto textarea, .uneditable-input { float: left; }

.social-images { text-align: center; }

.bg.breadcrumb {
right: 0;
left: 0;
width: 100%;
position: absolute;
padding: 8px 0;
top: 42px;
background-color: #fff;
-webkit-border-radius: 0; /* Android ��� 1.6, iOS 1-3.2, Safari 3-4 */
         border-radius: 0; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */

}

.bg ul.breadcrumb {
margin: 0;
padding: 0;
background-color: #fff; 
}

.redes a { 
text-indent: -9000px; 
display: block; 
}

.redes a.facebook { 
background-image: image-url("social_networks/facebook.png");
background-position: center bottom; 
background-repeat:  no-repeat; 
}

.redes a.facebook:hover { 
background-image: image-url("social_networks/facebook.png");
background-position: center top; 
background-repeat:  no-repeat; 
}

.redes a.twitter { 
background-image: image-url("social_networks/twitter.png");
background-position: center bottom; 
background-repeat:  no-repeat; 
}

.redes a.twitter:hover { 
background-image: image-url("social_networks/twitter.png");
background-position: center top; 
background-repeat:  no-repeat; 
}

.redes a.linkedin { 
background-image: image-url("social_networks/linkedin.png");
background-position: center bottom; 
background-repeat:  no-repeat; 
}

.redes a.linkedin:hover { 
background-image: image-url("social_networks/linkedin.png");
background-position: center top; 
background-repeat:  no-repeat; 
}

.redes a.googleplus { 
background-image: image-url("social_networks/googleplus.png");
background-position: center bottom; 
background-repeat:  no-repeat; 
}

.redes a.googleplus:hover { 
background-image: image-url("social_networks/googleplus.png");
background-position: center top; 
background-repeat:  no-repeat; 
}

.redes a.github { 
background-image: image-url("social_networks/github.png");
background-position: center bottom; 
background-repeat:  no-repeat; 
}

.redes a.github:hover { 
background-image: image-url("social_networks/github.png");
background-position: center top; 
background-repeat:  no-repeat; 
}

.redes a.add-more { 
background-image: image-url("social_networks/add-more.png");
background-position: center bottom; 
background-repeat:  no-repeat; 
}

.redes a.add-more:hover { 
background-image: image-url("social_networks/add-more.png");
background-position: center top; 
background-repeat:  no-repeat; 
}

.redes a.active { background-position: center top; }

.navbar-fixed-top {
margin-bottom: 0;
}

label { color: #999; }

.navbar {
margin-bottom: 0;
}

.navbar-inner {
-webkit-border-radius: 0; /* Android ��� 1.6, iOS 1-3.2, Safari 3-4 */
         border-radius: 0; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
border: none;          
}

.menu-principal {
width: 100%;
position: absolute;
left: 0;
top: 0;
}


.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
background-color: #59b129;
color: #fff;
border-bottom: 2px solid #fff;
-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
background-color: #59b129;
background-image: -webkit-gradient(linear, left top, left bottom, from(#6dc732), to(#59b129)); /* Chrome, Safari 4+ */
background-image: -webkit-linear-gradient(top, #6dc732, #59b129); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
background-image:    -moz-linear-gradient(top, #6dc732, #59b129); /* Firefox 3.6-15 */
background-image:      -o-linear-gradient(top, #6dc732, #59b129); /* Opera 11.10-12.00 */
background-image:         linear-gradient(to bottom, #6dc732, #59b129); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}

/*home*/

.index { padding-top: 0; }

.logo {
margin-top: 20px;
line-height: 80px;
text-align: center;
color: #fff;
text-shadow: 1px 1px 3px #000; /* Chrome, Firefox 3.5+, IE 10+, Opera 9+, Safari 1+ */
}

.txt-one {
margin: 0 auto;
max-width: 380px;
text-align: center; 
}

.txt-one h1 {
color: #fff;  
font-weight: 400;
text-shadow: 1px 1px 3px #000; /* Chrome, Firefox 3.5+, IE 10+, Opera 9+, Safari 1+ */
}

.txt-one h2 {
color: #fff;  
font-weight: 300;
line-height: 20px;
text-shadow: 1px 1px 3px #000; /* Chrome, Firefox 3.5+, IE 10+, Opera 9+, Safari 1+ */
}

.peephole {
margin: 0 auto;
max-width: 310px;
max-height: 310px;
border: 30px solid #d1d1d1;
-webkit-border-radius: 50%; /* Android ��� 1.6, iOS 1-3.2, Safari 3-4 */
       border-radius: 50%; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
-webkit-box-shadow: 0px 0px 4px 0px #666; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
       box-shadow: 0px 0px 4px 0px #666; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
}

.btn-home { 
margin: 20px auto;
max-width: 380px;
}

.btn-home .btn {
padding: 15px 0;
width: 100%;
-webkit-border-radius: 0;
border-radius: 0;
color: #fff;
text-shadow: 0 0 0 #fff;
font-size: 20px;
border-color: #59b129;
}

.home { 
display: table;
height: 100%;
}

.home-int {
vertical-align: middle;
display: table-cell;
}

