#wrapper
  #columns
    - @users.each do |user|
      .pin.ready{ :"data-user" => user.id }
        .heading
          %h1= user.name
        = image_tag user.local_picture_path, alt: user.name
        .btn-group.message-btn
          %a.btn.btn-primary
            %i.icon-envelope.icon-white
            %span= "Enviar mensaje"
        .btn-group.price-btn
          %a.btn.btn-primary
            %i.icon-tag.icon-white
            %span= user.threshold

-content_for :javascript do
  :plain
    //Hi!
