.container.home
  .home-int
    .row-fluid
      .span6
        .logo
          Toc-Toc!
        .txt-one
          %h1 Set a price tag, commit to answering.
          %hr/
          %h2 You get a lot of bogus offers, so you set a threshold of, say, $5. Someone really interested in contacting you pays for the chance of doing so. You answer his inquiry in a timely manner.
        .btn-home
          %button#start.btn.btn-site{:type => "button"} Set your threshold
      .span6
        .peephole
          %img{:src => image_path("peephole01.png")}/
  .clearfix

  - content_for :script do
    :javascript
      $(function(){
        $("#start").click(function(){
          document.location = "#{signup_wizard_path}"
        });
      });