.jumbotron
  = render 'layouts/messages'
  %h1 2) Give us your email
  %p.lead We will send all the inquiries, questions and petitions to:
  = simple_form_for(@user, :url => wizard_path) do |f|
    = f.input :email, :as => "email"
    = f.submit "Continue", :class => "btn btn-large btn-success"
